### Authors
- Muhammad Ahmad Imran Rafique
- Syed Saif Ahmed

# Add the libraries

In [266]:
# The required modules are imported.
import pandas as pd
import numpy as np

# for data preprocessing
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.model_selection import train_test_split

# Loading the dataset
As per spam base description, we have 58 columns where the first 57 are the explanatory variables or features and the last column is
the response variable or spam(1) or ham(0). As such, we will load the dataset split.
The explanatory variables are continuous with last three columns being somewhat whole numbers or int64. the 54/57 columns are float64 type except the last 3 but numpy will automatically typecast the datatype to the largest kind. (e.g 10 rows, 9 are int64, 1 is float64, all 10 will become float64)

In [267]:
"""
loading and splitting spam base dataset into explanatory/response or X,y
"""
dataset = pd.read_csv("Data\spambase.data",header=None)
X = dataset.iloc[:,:-1].values # .values converts panda df to numpy
y= dataset.iloc[:,-1].values

In [268]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4601 non-null   float64
 1   1       4601 non-null   float64
 2   2       4601 non-null   float64
 3   3       4601 non-null   float64
 4   4       4601 non-null   float64
 5   5       4601 non-null   float64
 6   6       4601 non-null   float64
 7   7       4601 non-null   float64
 8   8       4601 non-null   float64
 9   9       4601 non-null   float64
 10  10      4601 non-null   float64
 11  11      4601 non-null   float64
 12  12      4601 non-null   float64
 13  13      4601 non-null   float64
 14  14      4601 non-null   float64
 15  15      4601 non-null   float64
 16  16      4601 non-null   float64
 17  17      4601 non-null   float64
 18  18      4601 non-null   float64
 19  19      4601 non-null   float64
 20  20      4601 non-null   float64
 21  21      4601 non-null   float64
 22  22      4601 non-null   float64
 23  23      4601 non-null   float64
 24  24      4601 non-null   float64
 25  25      4601 non-null   float64
 26  26      4601 non-null   float64
 27  27      4601 non-null   float64
 28  28      4601 non-null   float64
 29  29      4601 non-null   float64
 30  30      4601 non-null   float64
 31  31      4601 non-null   float64
 32  32      4601 non-null   float64
 33  33      4601 non-null   float64
 34  34      4601 non-null   float64
 35  35      4601 non-null   float64
 36  36      4601 non-null   float64
 37  37      4601 non-null   float64
 38  38      4601 non-null   float64
 39  39      4601 non-null   float64
 40  40      4601 non-null   float64
 41  41      4601 non-null   float64
 42  42      4601 non-null   float64
 43  43      4601 non-null   float64
 44  44      4601 non-null   float64
 45  45      4601 non-null   float64
 46  46      4601 non-null   float64
 47  47      4601 non-null   float64
 48  48      4601 non-null   float64
 49  49      4601 non-null   float64
 50  50      4601 non-null   float64
 51  51      4601 non-null   float64
 52  52      4601 non-null   float64
 53  53      4601 non-null   float64
 54  54      4601 non-null   float64
 55  55      4601 non-null   int64
 56  56      4601 non-null   int64
 57  57      4601 non-null   int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [269]:
#dataset.dropna(inplace=True)
dataset.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

### Check if any missing values

In [270]:
dataset.isnull().any().sum()

0

In [271]:
# The features are stored in X
#pd.DataFrame(X).info()

In [272]:
pd.DataFrame(X).describe()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.031869,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.285735,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,10.000000,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000

In [273]:
pd.DataFrame(y).describe()

                 0
count  4601.000000
mean      0.394045
std       0.488698
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

Lets see unique values in our explanatory data section

In [274]:
for i in range(57):
    print("Column ",i+1, "has ",len(pd.DataFrame(X).iloc[:,i].unique()), "unique values in 4601 rows")

Column  1 has  142 unique values in 4601 rows
Column  2 has  171 unique values in 4601 rows
Column  3 has  214 unique values in 4601 rows
Column  4 has  43 unique values in 4601 rows
Column  5 has  255 unique values in 4601 rows
Column  6 has  141 unique values in 4601 rows
Column  7 has  173 unique values in 4601 rows
Column  8 has  170 unique values in 4601 rows
Column  9 has  144 unique values in 4601 rows
Column  10 has  245 unique values in 4601 rows
Column  11 has  113 unique values in 4601 rows
Column  12 has  316 unique values in 4601 rows
Column  13 has  158 unique values in 4601 rows
Column  14 has  133 unique values in 4601 rows
Column  15 has  118 unique values in 4601 rows
Column  16 has  253 unique values in 4601 rows
Column  17 has  197 unique values in 4601 rows
Column  18 has  229 unique values in 4601 rows
Column  19 has  575 unique values in 4601 rows
Column  20 has  148 unique values in 4601 rows
Column  21 has  401 unique values in 4601 rows
Column  22 has  99 unique values in 4601 rows
Column  23 has  164 unique values in 4601 rows
Column  24 has  143 unique values in 4601 rows
Column  25 has  395 unique values in 4601 rows
Column  26 has  281 unique values in 4601 rows
Column  27 has  240 unique values in 4601 rows
Column  28 has  200 unique values in 4601 rows
Column  29 has  156 unique values in 4601 rows
Column  30 has  179 unique values in 4601 rows
Column  31 has  128 unique values in 4601 rows
Column  32 has  106 unique values in 4601 rows
Column  33 has  184 unique values in 4601 rows
Column  34 has  110 unique values in 4601 rows
Column  35 has  177 unique values in 4601 rows
Column  36 has  159 unique values in 4601 rows
Column  37 has  188 unique values in 4601 rows
Column  38 has  53 unique values in 4601 rows
Column  39 has  163 unique values in 4601 rows
Column  40 has  125 unique values in 4601 rows
Column  41 has  108 unique values in 4601 rows
Column  42 has  186 unique values in 4601 rows
Column  43 has  136 unique values in 4601 rows
Column  44 has  160 unique values in 4601 rows
Column  45 has  230 unique values in 4601 rows
Column  46 has  227 unique values in 4601 rows
Column  47 has  38 unique values in 4601 rows
Column  48 has  106 unique values in 4601 rows
Column  49 has  313 unique values in 4601 rows
Column  50 has  641 unique values in 4601 rows
Column  51 has  225 unique values in 4601 rows
Column  52 has  964 unique values in 4601 rows
Column  53 has  504 unique values in 4601 rows
Column  54 has  316 unique values in 4601 rows
Column  55 has  2161 unique values in 4601 rows
Column  56 has  271 unique values in 4601 rows
Column  57 has  919 unique values in 4601 rows

Our explanatory variables have a huge variations of values. Such a large continuous space can not be easily dealt with
without some preprocessing involving discretization or scaling.
In our case, we will discretize the data later. Why?
Both techniques will map large continuous data to a manageable scale but the requirement of this assignment is to
code the least general generalization and or either of its 2 variants, which are by nature not distance based algorithms.
As such, scaling will be of no aid to us and discretization of datapoints into bins across the data( 57 columns 4600 rows, assuming all values are unique will result in an insanely large instance/hypothesis space) will make our data manageable. Infact scaling has no impact on data as the mean,std did not change post discretization (understandable as scaling just maps the values to a range while maintaining their nature)

# Discretization and Train-Test Split

For discretization, the kmeans and uniform strategy explored however we went with kmeans as it kmeans as assigning by clusters features and accuracy observed was better.
As for selecting size of the bins (trade off for reasonably sized and good accuracy), we performed following experiment
- Calculate accuracy with bins 10-20 and Test % 20,25,30
- Check difference of average of % test size for bin and how close difference was from 0
- Vote across test size columns for what bin is closest.
- Across all tests, bin size 16 fit the criteria (check score.csv file attached)
- If result pattern are such that 2 or more values show up, take mean of bins

In [275]:
# The train-test split is implemented below with 25% of test data and 75% of train data. For 4601 datapoints, this was a good split %age
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25 , random_state= 42)

In [276]:
# Creating an object for KBinDiscretizer with 16 bins
discretization = KBinsDiscretizer(n_bins = 16, encode = 'ordinal', strategy = 'kmeans')

In [277]:
# The training data was preprocessed and stored in X-train
X_train=discretization.fit_transform(X_train) # fit and transform train data to per discretization strategy

In [278]:
#discretization.get_params()

In [279]:
# The test data was preprocessed and stored in X-test
X_test=discretization.transform(X_test)  # Transforming

In [280]:
"""
since we applied fit_transform on train and only transform on test,
the value ranges will be different so that test data will come as a "surprise" to the train.
"""
#pd.DataFrame(X_train).iloc[:,2].unique(),pd.DataFrame(X_test).iloc[:,2].unique()

'\nsince we applied fit_transform on train and only transform on test,\nthe value ranges will be different so that test data will come as a "surprise" to the train.\n'

In [281]:
for i in range(57):
    print("Column ",i+1, "has ",len(pd.DataFrame(X_train).iloc[:,i].unique()), "unique values in 4601 rows")

Column  1 has  16 unique values in 4601 rows
Column  2 has  16 unique values in 4601 rows
Column  3 has  16 unique values in 4601 rows
Column  4 has  16 unique values in 4601 rows
Column  5 has  16 unique values in 4601 rows
Column  6 has  16 unique values in 4601 rows
Column  7 has  16 unique values in 4601 rows
Column  8 has  16 unique values in 4601 rows
Column  9 has  16 unique values in 4601 rows
Column  10 has  16 unique values in 4601 rows
Column  11 has  16 unique values in 4601 rows
Column  12 has  16 unique values in 4601 rows
Column  13 has  16 unique values in 4601 rows
Column  14 has  16 unique values in 4601 rows
Column  15 has  16 unique values in 4601 rows
Column  16 has  16 unique values in 4601 rows
Column  17 has  16 unique values in 4601 rows
Column  18 has  16 unique values in 4601 rows
Column  19 has  16 unique values in 4601 rows
Column  20 has  16 unique values in 4601 rows
Column  21 has  16 unique values in 4601 rows
Column  22 has  16 unique values in 4601 rows
Column  23 has  16 unique values in 4601 rows
Column  24 has  16 unique values in 4601 rows
Column  25 has  16 unique values in 4601 rows
Column  26 has  16 unique values in 4601 rows
Column  27 has  16 unique values in 4601 rows
Column  28 has  16 unique values in 4601 rows
Column  29 has  16 unique values in 4601 rows
Column  30 has  16 unique values in 4601 rows
Column  31 has  16 unique values in 4601 rows
Column  32 has  16 unique values in 4601 rows
Column  33 has  16 unique values in 4601 rows
Column  34 has  16 unique values in 4601 rows
Column  35 has  16 unique values in 4601 rows
Column  36 has  16 unique values in 4601 rows
Column  37 has  16 unique values in 4601 rows
Column  38 has  16 unique values in 4601 rows
Column  39 has  16 unique values in 4601 rows
Column  40 has  16 unique values in 4601 rows
Column  41 has  16 unique values in 4601 rows
Column  42 has  16 unique values in 4601 rows
Column  43 has  16 unique values in 4601 rows
Column  44 has  16 unique values in 4601 rows
Column  45 has  16 unique values in 4601 rows
Column  46 has  16 unique values in 4601 rows
Column  47 has  16 unique values in 4601 rows
Column  48 has  16 unique values in 4601 rows
Column  49 has  16 unique values in 4601 rows
Column  50 has  16 unique values in 4601 rows
Column  51 has  16 unique values in 4601 rows
Column  52 has  16 unique values in 4601 rows
Column  53 has  16 unique values in 4601 rows
Column  54 has  16 unique values in 4601 rows
Column  55 has  16 unique values in 4601 rows
Column  56 has  16 unique values in 4601 rows
Column  57 has  16 unique values in 4601 rows

In [282]:
pd.DataFrame(X_train).describe()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
count,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,...,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000,3450.000000
mean,0.725217,0.509565,1.102899,0.043478,1.022319,0.826377,0.563188,0.494203,0.595362,1.052464,...,0.182609,0.434783,1.167246,0.450725,0.946377,0.735942,0.338841,0.320580,0.659710,1.338841
std,1.728742,1.778238,1.902865,0.656276,1.842232,1.971455,1.682437,1.466192,1.708465,2.292695,...,1.146674,1.495119,1.603354,1.627550,1.651157,1.575255,1.312661,0.914659,1.730502,2.056247
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,2.000000
max,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000

In [283]:
pd.DataFrame(X_test).describe()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
count,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,...,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000,1151.000000
mean,0.776716,0.587315,1.105126,0.054735,1.119027,0.885317,0.653345,0.506516,0.661164,1.056473,...,0.159861,0.455256,1.124240,0.395308,1.000869,0.720243,0.325804,0.325804,0.638575,1.376195
std,1.808582,1.991935,1.847744,0.750392,1.837932,2.094062,1.917128,1.516776,1.844346,2.309777,...,1.108303,1.561339,1.470059,1.461725,1.661063,1.596714,1.237397,1.013313,1.665937,2.090165
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,2.000000,1.000000,0.000000,0.000000,1.000000,2.000000
max,14.000000,15.000000,14.000000,15.000000,14.000000,14.000000,15.000000,13.000000,14.000000,14.000000,...,15.000000,15.000000,10.000000,15.000000,12.000000,14.000000,15.000000,13.000000,12.000000,15.000000

# Prepping the algo's

### Algorithm 4.1 implementation

In [284]:
# The Algorithm 4.1 is implemented below
# finding the least general generalisation of a given set of instances.
def lgg(H,x): #x is instances of data, h is logical expression
    for j in range(len(H)):
        H[j].append(x[0][j]) # H<--X X values into H
    #per algorithm 4.1 design (refer section 4.1 of course book)
    while j<len(x):
        H = lgg_conjid(H,x[j]) # Calling Alg 4.3 the LGG-conj-ID
        j+=1
    return H # returning the H (the logical expression)

### Algorithm 4.3 Implementation

In [285]:
# The Algorithm 4.3 is implemented below 
def lgg_conjid(X,y): # Least General Generalisation with 2 conjunctions with internal disjunction
    for i in range(len(X)):
        if y[i] not in X[i]:
            X[i].append(y[i]) # logic of Combine-ID in book
    return X #returning the combined values

### Required Functions for fit and test hypothesis

In [286]:
# The Hypothesis is shown as a list of list created below
# This will be used by the algorithms for processing and store response to.
Hypothesis = []
i = 0
while i<(np.shape(X)[1]):
    Hypothesis.append([])
    i+=1

In [287]:
# This function is used for providing train data for LGG algorithm in hypothesis space
def training_data(a,b):
    data_collect=[] # collecting the positives
    [data_collect.append(a[i]) for i in range(len(a)) if(b[i]==1)]
    h = lgg(Hypothesis,data_collect) # calling the LGG function
    return h

In [288]:
# This function is used for testing the reduced hypothesis space 
def testing_data(a):
    pred_response = []
    for i in range(len(a)):
        e=0
        for j in range(len(a[i])):
            if a[i][j] in Hypothesis[j]:
                e= e+1
        pred_response.append(1) if(e==len(a[i])) else pred_response.append(0)
    return pred_response

### Executing everything

In [289]:
HypSpa=training_data(X_train,y_train) # Generating the Hypothesis
y_pred=testing_data(X_test)

In [290]:
print(HypSpa) # can use the global Hypothesis too though. These should be the literals but we ran out of time and mind to use column name to produce the actual rules in words. that would have been fun.

[[0.0, 1.0, 5.0, 4.0, 2.0, 3.0, 6.0, 7.0, 9.0, 11.0, 8.0, 15.0], [0.0, 2.0, 3.0, 4.0, 1.0, 5.0, 10.0, 8.0, 6.0, 13.0, 7.0, 9.0, 11.0], [0.0, 5.0, 2.0, 7.0, 1.0, 4.0, 3.0, 9.0, 8.0, 6.0, 10.0, 12.0, 11.0], [0.0, 1.0, 15.0, 10.0, 4.0, 7.0, 12.0, 14.0, 3.0, 11.0, 9.0, 5.0, 2.0, 13.0, 8.0], [0.0, 2.0, 3.0, 1.0, 4.0, 9.0, 5.0, 6.0, 8.0, 7.0, 12.0, 10.0, 13.0], [0.0, 5.0, 8.0, 11.0, 6.0, 1.0, 9.0, 2.0, 4.0, 3.0, 7.0, 10.0, 12.0], [7.0, 0.0, 3.0, 2.0, 1.0, 4.0, 5.0, 8.0, 10.0, 6.0, 9.0, 11.0, 15.0, 14.0, 13.0, 12.0], [0.0, 1.0, 2.0, 3.0, 6.0, 5.0, 7.0, 11.0, 14.0, 8.0, 4.0, 12.0, 13.0, 9.0, 10.0, 15.0], [0.0, 1.0, 4.0, 2.0, 7.0, 5.0, 3.0, 6.0, 8.0, 9.0, 14.0, 12.0, 10.0, 13.0, 11.0], [0.0, 1.0, 6.0, 3.0, 9.0, 7.0, 2.0, 8.0, 12.0, 4.0, 5.0, 10.0, 11.0, 13.0, 14.0], [0.0, 4.0, 3.0, 1.0, 8.0, 7.0, 5.0, 9.0, 10.0, 2.0, 6.0, 11.0, 12.0, 13.0, 14.0, 15.0], [0.0, 1.0, 2.0, 4.0, 5.0, 3.0, 7.0, 6.0, 13.0, 8.0, 11.0, 9.0], [0.0, 4.0, 2.0, 8.0, 1.0, 10.0, 6.0, 3.0, 7.0, 5.0, 9.0, 13.0, 11.0], [0.0, 7.0, 1.0, 2.0, 6.0, 4.0, 13.0, 3.0, 8.0, 5.0, 11.0, 9.0, 10.0], [0.0, 1.0, 4.0, 2.0, 5.0, 7.0, 6.0, 9.0, 13.0, 14.0, 3.0, 11.0, 10.0, 15.0, 12.0, 8.0], [3.0, 2.0, 0.0, 1.0, 5.0, 4.0, 9.0, 6.0, 7.0, 8.0, 11.0, 13.0, 10.0, 12.0, 14.0], [0.0, 2.0, 3.0, 5.0, 4.0, 10.0, 6.0, 1.0, 9.0, 13.0, 11.0, 7.0, 8.0, 14.0, 12.0, 15.0], [0.0, 6.0, 5.0, 3.0, 4.0, 2.0, 1.0, 12.0, 11.0, 7.0, 13.0, 8.0, 10.0, 15.0, 9.0], [0.0, 2.0, 4.0, 7.0, 8.0, 1.0, 3.0, 5.0, 6.0, 9.0, 11.0, 10.0, 13.0], [0.0, 3.0, 2.0, 1.0, 11.0, 4.0, 9.0, 6.0, 12.0, 10.0, 7.0, 5.0, 8.0, 14.0, 15.0, 13.0], [0.0, 3.0, 2.0, 4.0, 5.0, 1.0, 6.0, 8.0, 7.0, 10.0, 9.0, 15.0], [0.0, 4.0, 1.0, 3.0, 9.0, 12.0, 8.0, 7.0, 2.0, 11.0, 10.0, 14.0, 15.0, 5.0, 13.0], [0.0, 4.0, 5.0, 2.0, 1.0, 3.0, 7.0, 6.0, 9.0, 11.0, 12.0, 8.0, 13.0, 10.0, 15.0], [0.0, 1.0, 2.0, 4.0, 3.0, 9.0, 7.0, 5.0, 10.0, 11.0, 8.0, 15.0, 12.0, 13.0], [0.0, 1.0, 4.0, 2.0], [0.0, 1.0, 2.0, 5.0, 3.0, 4.0], [0.0], [0.0, 1.0, 3.0, 4.0, 2.0, 14.0, 7.0, 15.0, 6.0], [0.0, 1.0, 3.0], [0.0, 2.0, 1.0, 3.0], [0.0, 1.0, 4.0], [0.0, 3.0], [0.0, 3.0, 1.0, 2.0, 6.0, 4.0, 5.0], [0.0, 6.0, 1.0, 3.0, 2.0], [0.0, 1.0, 2.0, 3.0, 8.0, 4.0], [0.0, 4.0, 1.0, 2.0, 6.0, 3.0, 5.0], [0.0, 11.0, 5.0, 6.0, 1.0, 2.0, 3.0, 7.0, 4.0, 8.0], [0.0, 3.0, 2.0, 1.0, 8.0, 6.0, 7.0, 5.0], [0.0, 1.0, 3.0, 2.0, 5.0, 4.0], [0.0, 4.0, 1.0, 3.0, 2.0, 5.0, 9.0, 7.0], [0.0, 1.0], [0.0, 1.0], [0.0, 3.0, 1.0, 2.0, 4.0, 5.0], [0.0, 2.0, 1.0, 5.0], [0.0, 2.0, 1.0, 3.0, 7.0, 5.0, 4.0], [0.0, 1.0, 3.0, 2.0, 5.0], [0.0, 1.0, 5.0, 2.0], [0.0, 1.0, 2.0], [0.0, 1.0, 6.0, 3.0, 5.0, 4.0, 7.0, 8.0, 2.0, 10.0, 9.0], [0.0, 1.0, 2.0, 3.0, 5.0, 4.0, 6.0, 11.0, 7.0, 13.0, 15.0, 8.0], [0.0, 2.0, 3.0, 1.0, 7.0, 9.0, 6.0, 8.0, 5.0, 10.0, 4.0, 13.0], [6.0, 3.0, 0.0, 5.0, 7.0, 1.0, 2.0, 4.0, 8.0, 10.0, 9.0, 11.0, 12.0], [0.0, 15.0, 3.0, 1.0, 2.0, 5.0, 4.0, 6.0, 12.0, 7.0, 9.0, 13.0, 8.0, 11.0, 10.0, 14.0], [0.0, 2.0, 1.0, 5.0, 4.0, 11.0, 9.0, 6.0, 12.0, 3.0, 10.0, 8.0, 7.0, 15.0], [0.0, 1.0, 2.0, 7.0, 3.0, 10.0, 6.0, 8.0, 5.0, 13.0, 11.0, 4.0, 12.0, 14.0, 9.0, 15.0], [0.0, 1.0, 2.0, 10.0, 12.0, 3.0, 5.0, 4.0, 9.0, 11.0, 13.0, 7.0, 6.0, 8.0, 14.0, 15.0], [0.0, 4.0, 1.0, 3.0, 9.0, 2.0, 11.0, 5.0, 6.0, 8.0, 7.0, 14.0, 10.0, 12.0, 13.0, 15.0]]

### Performance Criteria
After training is done, we calculate how good our model performed.
We will calculate accuracy as the metric to assess our model.

In [291]:
from sklearn.metrics import accuracy_score

#reshaping y_pred and finding accuracy
y_pred=np.array(y_pred).reshape(len(y_test),1)
print(accuracy_score(y_pred,y_test))

0.7454387489139879